
body {
    background-image: url('./Desktop\ -\ 2.png');
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    bottom:0;
}

header{
    width: 100%;
    height:10%;
    border-bottom: 0.5px solid white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink{
    
    margin: 0;
}

.logo{
    width:60%;
    margin-left: 10%;
    
}
.logo:hover{
    opacity:60%;
}

.nav1{
    margin-right: 100%;
    margin-top: 5%;
    width:50%;
    margin:0;
    padding: 0;
}

.nav2{
    width:15%;
}

.nav3{
    width:15%;
}


.nav-ul{
    color:white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height:100%;

    margin: 0;
    padding: 0;
}

.nav-ul-2{
    height:100%;
    color:white;
    display: flex;
    justify-content: space-around;
    list-style: none;

    margin: 0;
    padding: 0;
}

.nav-list{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: backgrond-color 0.5s;
    
}

.nav-list:hover{
    background-color:#8000FF ;
    
}

.nav-link{
    color:white;
    text-decoration:none;
    
}

.inicio{
    border-right: 0.2px solid white;
    padding: 12%;
    top:28%;
    right:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    

    color:white;
}


.subtitulo{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: normal; 
    margin:0;
}

.alinhar{
    height:70%;
    border-bottom:0.2px solid white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right:5%;
    margin-left:4%;
}

#download{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:10%;
}

.button{
    border:0.2px solid black;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    padding:15px 30px;
    border-radius: 20px;
    font-size:1.7em;
    margin-top:5%;
    font-family: 'Goblin One', cursive;

}

#download .h3{
    text-align:center;
    font-size:1.5em;
    
}

.h2,.h3{
    color:white;
}



#contato{
    color:white;
    background-color: black;
    border-top:0.5px solid white;
    margin-top:5%;
    padding-left:10%;
    padding-bottom:3%; 
    

}

.app-texto{
    color:white;
}

.ul-imagem{
    width: 10%;
    display:flex;
    justify-content:space-around;
    list-style: none;
    flex-direction: row;
    margin-left:23%;
}

#aplicativo{
    margin-left:10%;
    margin-top:5%;
}

.img-list{
    margin:20px;
}

.usar{
    margin-left:10%;
}


    
      
